body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
#logo-container {
  padding-left: 1rem;
}
.main-section {
  padding-top: 3.5rem;
}
#whd-login,
#google-login {
  text-align: center;
}
#whd-menu {
  padding-right: 5rem;
}
.profile-section {
  padding-top: 5rem;
}
.profile-form label {
  color: #fff;
}
.card-form label {
  color: #fff;
}
.card-link {
  color: #fff;
}
.message-bar {
  padding-top: 5rem;
}
#main-jobs {
  padding-top: 0.75rem;
}
.form-wrapper {
  padding: 1rem;
}
.whd-tab-panels {
  padding-top: 0.75rem;
  padding-left: 0.5rem;
}
