<div class="container">
	<form ng-submit="login(username, password)">
		<div class="form-group row">
			<div class="col-sm-6">
				<label for="username" class="sr-only">Username</label>
				<input type="text" class="form-control" name="username" ng-model="username" placeholder="Username" required>
			</div>

			<div class="col-sm-6">
				<label for="password" class="sr-only">Password</label>
				<input type="password" class="form-control" name="username" ng-model="password" placeholder="WHD Password" required>
			</div>
		</div>

		<div>
			<hr>
			<button class="btn btn-default pull-sm-right">Login&nbsp;
				<i class="fa fa-sign-in fa-lg"></i>
			</button>
		</div>

	</form>
</div>
